<%# flex justify-between 二つのブロックを両端に配置する %>
<header class="flex justify-between">
    <span>aaa</span>

    <%# ブロックを末尾に配置する %>
    <%# space-x-16 ブロック間に空白(16)を空ける %>
    <%# pr-8 パディングを右側に8空ける %>
    <ul class="flex justify-end space-x-16 pr-8">
        <span>bbb</span>
        <a>ccc</a>
        <a>ddd</a>
    </ul>
    <% form_with model: @external_coach, url: exter %>
</header>

<%= form_with model: @external_coach, url: external_coach_account_path(@external_coach) do |form| %>
