<% @page_title = "ニュース記事の新規登録" %>
<h1><%= @page_title %></h1>

<%= form_with model: @article, url: :external_coach_articles do |form| %>
  <%= render "form", form: form %>
  <div><%= form.submit "作成する" %></div>
<% end %>